Options -Indexes
RewriteEngine on

RewriteRule ^states/([^$]+)$ index.php?q=states&state=$1 [L,QSA]
RewriteRule ^([0-9]{5})$ index.php?q=view&postcode=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^(.*)$ index.php?q=$1 [L,QSA]